/*.but{*/
    /*width: 15px;*/
    /*margin: 0 auto;*/
/*}*/
.menu {
    list-style: none;
}

.menu li {
    float: left;
    margin-right: 15px;
}

.mybreadcrumb {
    list-style: none;
}

.mybreadcrumb li {
    float: left;
}

.mybreadcrumb li:after {
    display: inline;
    content: '>';
    margin: 0 5px;
}

.mybreadcrumb li:last-child:after {
    display: none;
}
.c1{
    margin-left: 15px;
    margin-right: 15px;
}
.answers{
    float: right;
    margin-right: 15px;
    /*margin-bottom: 10px;*/
}
.error{
    color: red;
}
.topicLink{
    size: 16px;
    text-decoration: underline;
}
.success {
    color: green;
}
